* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  background-color: #FFF;
  background-image: linear-gradient(180deg, #FDC5F2 0, #FFF 600px);
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #272727; 
  line-height: 1.5;
}

body {
  font-size: 16px; 
}