* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  background-image: linear-gradient(180deg, #FDC5F2 0, #F8F8F8 500px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333; 
  line-height: 1.5;
}

body {
  font-size: 16px; 
}