#inicio{
    scroll-margin-top: 90px;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px + 50px);
    padding: 0 70px;
    transform: translateY(-50px);
    overflow: hidden;
    width: 100%;
}

.h1-inicio{
    text-align: center;
    color: #272727;
    font-family: 'Libertinus Serif', 'Montserrat';
    font-size: 45px;
    font-weight: 500;
    padding: 12px;
}

.h2-inicio{
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    padding-bottom: 10px;
}

.h2-inicio strong{
    font-weight: 500;
    color: #ff0092;
}

.textos-inicio{
    padding: 15px 0 50px 0;
}

.p-inicio{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.boton-inicio{
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    /* background-color: rgba(255, 0, 146, 0.2); */
    background-color: #272727;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    color: white;
}

.boton-inicio:hover{
    background-color: #ff0092;
}

@media(max-width: 929px){
    .inicio{
        padding: 0 50px;
    }

    .h1-inicio{
    font-size: 35px;
    }

    .h2-inicio{
    line-height: 1.1;
    font-size: 60px;
    }

    .h2-inicio strong{
        font-weight: 500;
        color: #ff0092;
    }

    .p-inicio{
        font-size: 19px;
    }
}

@media(max-width:778px){
    .inicio{
        transform: translateY(-40px);   
    }

    .h1-inicio{
        margin-bottom: 30px;
    }

    .h2-inicio{
        font-size: 50px;
        margin-bottom: 30px;
    }
}

@media(max-width:480px){
    .h1-inicio{
    font-size: 25px;
    }
}