.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #121212;
    color: #f5f5f5;
    padding: 90px 0 50px 0;
}

.titulo-nosotros{
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    font-size: 50px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(30px);
}

.titulo-nosotros.animar{
    animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulo-nosotros .flip-words{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    font-size: 50px;
    font-weight: 500;
    color:#ff0092;
    width: 201.72px;
}

.subtitulo-nosotros{
    color: #ff0092;
    font-size: 18px;
    font-weight: 350;
    text-align: center;
    margin: 10px 90px 0 90px;
}

.quienes-somos{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 70px;
    margin-bottom: 100px;
}

.quienes-somos .textos-quienes-somos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 40px;
}

.quienes-somos .textos-quienes-somos .titulo-quienes-somos{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 20px;
}

.quienes-somos .textos-quienes-somos .texto-quienes-somos{
    font-size: 18px;
    font-weight: 350;
    color: #cccccc;
    padding-bottom: 13px;
}

.quienes-somos .imagen-quienes-somos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.quienes-somos .imagen-quienes-somos img{
    width: 500px;
}

.moving{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ff0092;
}

.titulo-moving{
    padding-top: 20px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logos {
  position: relative;
  overflow: hidden;
  margin: 50px 0;
  background:transparent;
  width: 100%;
}

.logos:before,
.logos:after {
  content: "";
  position: absolute;
  top: 0;
  width: 40px; /* Ajusta el ancho del fade si querés */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.logos:before {
  left: 0;
  background: linear-gradient(to right, #121212 0%, transparent 100%);
}

.logos:after {
  right: 0;
  background: linear-gradient(to left, #121212 0%, transparent 100%);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  animation: 45s slide infinite linear;
  width: max-content;
}

.logos-slide img {
  height: 40px;
  margin: 0 40px;
}

/* Estilos responsive */

@media (max-width:940px){
  .quienes-somos{
    width: 100%;
  }

  .quienes-somos .imagen-quienes-somos img{
      width: 400px;
  }
}

@media (max-width:820px){
  .nosotros{
    padding-bottom: 10;
  }

  .subtitulo-nosotros{
    color: #ff0092;
    font-size: 18px;
    font-weight: 350;
    text-align: center;
    margin: 10px 10px 0 10px;
  }

  .quienes-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
  }

  .quienes-somos .textos-quienes-somos{
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .quienes-somos .imagen-quienes-somos{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 20px;
  }

  .logos-slide img {
    margin: 0 30px;
  }
}

@media (max-width:609px){
  .nosotros{
    padding-bottom: 30px;
  }

  .titulo-nosotros{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: 500;
  }

  .titulo-nosotros .flip-words{
    font-size: 40px;
    width: 151.83px;
  }
}

@media (max-width:530px){
  .titulo-nosotros{
    font-size: 32px;
  }

  .titulo-nosotros .flip-words{
    font-size: 32px;
    width: 121.46px;
  }

  .subtitulo-nosotros{
    font-size: 16px;
  }

  .quienes-somos .textos-quienes-somos .titulo-quienes-somos{
    font-size: 25px;
  }

  .quienes-somos .textos-quienes-somos .texto-quienes-somos{
    font-size: 16px;
  }

  .quienes-somos .imagen-quienes-somos img{
    width: 300px;
  }

  .moving .titulo-moving{
    font-size: 25px;
  }

  .logos-slide img {
    margin: 0 20px;
  }
}

@media (max-width:370px){
  .titulo-nosotros{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-bottom: 0px;
  }
} 