.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #121212;
    color: #f5f5f5;
    padding: 90px 0 50px 0;
    margin-bottom: 140px;
}

.titulo-nosotros{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    font-weight: 500;
}

.titulo-nosotros .flip-words{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    font-size: 50px;
    font-weight: 500;
    color:#ff0092;
    width: 201.72px;
}

.subtitulo-nosotros{
    color: #ff0092;
    font-size: 18px;
    font-weight: 350;
    text-align: center;
    margin: 10px 90px 0 90px;
}

.quienes-somos{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 70px;
    margin-bottom: 100px;
}

.quienes-somos .textos-quienes-somos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 40px;
}

.quienes-somos .textos-quienes-somos .titulo-quienes-somos{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 20px;
}

.quienes-somos .textos-quienes-somos .texto-quienes-somos{
    font-size: 18px;
    font-weight: 350;
    color: #cccccc;
    padding-bottom: 13px;
}

.quienes-somos .imagen-quienes-somos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.quienes-somos .imagen-quienes-somos img{
    width: 500px;
}

.moving{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ff0092;
}

.titulo-moving{
    padding-top: 20px;
    font-size: 40px;
    font-weight: 400;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  margin: 60px 0;
  background:transparent;
  width: 95%;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}