.preguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
}

.titulo-preguntas{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
}

.preguntas-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    width: 90%;
}

.izquierda-preguntas,
.derecha-preguntas{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-pregunta{
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #d3d3d3;
    text-align: left;
    transition: all 0.7s ease;
}

.container-pregunta:hover{
    cursor: pointer;
}

.pregunta-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.pregunta-container .pregunta{
    font-size: 19px;
    font-weight: 500;
}

.pregunta-container p{
    font-size: 30px;
    font-weight: 400;
    color: black;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

.container-pregunta.abierto .pregunta-container p{
    transform: rotate(45deg);
}

.container-pregunta .respuesta{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.7s ease-in-out, opacity 0.5s ease;
    /* padding-top: 22px; */
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}

.container-pregunta.abierto .respuesta {
    max-height: 500px;
    opacity: 1;
}

@media (max-width:1094px){
    .titulo-preguntas{
        font-size: 40px;
    }

    .preguntas-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        width: 90%;
    }
}

@media (max-width:480px){
    .titulo-preguntas{
        font-size: 30px;
    }
}