.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    height: 80px;
    width: 100%;
    z-index: 1000;
    top: 0;
    padding: 0 40px;
    background-image: linear-gradient(180deg, #FDC5F2 0, #FFF 600px);
}

.scroll-navBar{
   border-bottom: 1px solid #1e1e1e;
   background-image: none;
   background-color: #fff;
}

.navBar:hover{
    background-image: none;
    background-color: #fff;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo .logo-link{
    height: 50px;
}

.botones-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 17px;
}

.botones-navbar .link{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 450;
    padding: 3px 12px;
}

.botones-navbar .link:hover{
    border-bottom: 1.5px solid #333;
    border-radius: 0px;
}