.navBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 80px;
    z-index: 1000;
    top: 0;
    padding: 0px 40px;
    transition: all 0.5s ease;
}

.scroll-navBar{
    width: 85%;
    height: 75px;
    background-image: none;
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(51, 51, 51, 0.25);
    border-radius: 10px;
    transition: all 0.5s ease;
    top: 10px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    padding: 0;
    margin: 0;
}

.boton-logo-link{
    border: none;
    background-color: transparent;
    width: 135.64px;
    padding: 0;
    margin: 0;
}

.boton-logo-link:hover{
    cursor: pointer;
}

.logo .logo-link{
    height: 50px;
    width: 135.64px;
    padding: 0;
    margin: 0;
}

.boton-derecha-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
}

.boton-agendar-navbar{
    box-shadow: 0 2px 7px rgba(51, 51, 51, 0.25);
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #272727;
    font-size: 17px;
    font-weight: 450;
    padding: 10px 4px;
}

.boton-agendar-navbar:hover{
    transform: scale(1.02);
}

.botones-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 25px;
}

.botones-navbar .link{
    color: black;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 450;
    padding: 3px 12px;
    border-radius: 5px;
    padding: 10px 10px;
}

.botones-navbar .link:hover{
    background-color: #e7e2e2;
}

.hamburguer{
    display: none;
    flex-direction: column;
    gap: 5px;
    background-color: none;
    border: none;
    cursor: pointer;
}

.hamburguer span {
  width: 25px;
  height: 3px;
  background: #272727;
  border-radius: 2px;
}

.menu-mobile{
    display: none;
}

/* Estilos responsive Mobile */

@media (min-width: 1181px) {
  .menu-mobile {
    display: none !important;
  }
}

@media (max-width: 1180px) {


    .boton-derecha-navbar,
    .botones-navbar{
        display: none;
    }

    .hamburguer{
        display: flex;
        background-color: transparent;
    }

    .hamburguer:hover span{
        background-color: #444444;
    }

    .menu-mobile {
        position: absolute;
        top: 65%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15), 
                    0 -2px 6px rgba(0,0,0,0.05);
        margin-top: 26.5px;
        z-index: 2000;
        width: 90%;
    }

    .botones-hamburguer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

  .botones-hamburguer .links-hamburguer{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin: 7px 0;
    color: #272727;
    width: 100%;
    border-radius: 10px;
    padding: 10px 13px;
    text-decoration: none;
    }

    .botones-hamburguer .links-hamburguer:last-child{
        align-self: center;
        border: 1px solid #272727;
        width: 100%;
        justify-content: center;
    }

    .botones-hamburguer .links-hamburguer:last-child:hover{
        transform: scale(1.02);
        background-color: transparent;
    }

    .botones-hamburguer .links-hamburguer:hover{
        cursor: pointer;
        background-color: #e7e2e2;
    }
}

@media(max-width:900px){

    .navBar{
        padding: 0px 25px;
    }

    .scroll-navBar{
        padding: 0 20px;
        width: 95%;
    }

    .boton-logo-link{
        border: none;
        background-color: transparent;
        width: 50px;
        padding: 0;
        margin: 0;
    }

    .logo{
        width: 110px;
    }

    .boton-logo-link{
        width: 60px;
    }

    .logo .logo-link{
        height: 40px;
        width: 110px;
    }
}