#servicios {
    scroll-margin-top: 90px;
}

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}

.titulo-servicios{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    opacity: 0;
    transform: translateY(30px);
}

.titulo-servicios.animar{
    animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulo-servicios strong{
    color: #ff0092;
}

.servicios-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 200px; */
    width: 70%;
}

.container-servicio{
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}

.container-servicio .textos-servicios{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-servicio .textos-servicios.primero{
    border-right: 1px solid #272727;
}

.container-servicio .textos-servicios.segundo{
    border-left: 1px solid #272727;
}

.container-servicio h3{
    padding: 5px;
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 20px;;
}

.container-servicio p{
    padding: 6px;
    font-size: 20px;
    font-weight: 400;
}

.container-servicio .imagen-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container-servicio .imagen-servicios img{
    width: 200px;
}

@media (max-width:920px){
    .servicios-container{
        width: 80%;
    }   
}

@media(max-width:609px){
    .titulo-servicios{
        font-size: 40px;
    }

    .servicios-container{
        width: 100%;
    }

    .container-servicio{
        margin-bottom: 80px;
    }

    .container-servicio h3{
        padding: 5px;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;;
    }

    .container-servicio p{
        padding: 6px;
        font-size: 19px;
        font-weight: 400;
    }
}

@media(max-width:530px){

    .servicios-container{
        width: 100%;
    }

    .container-servicio .textos-servicios{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 10px;
    }

    .titulo-servicios{
        text-align: center;
        font-size: 32px;
    }

    .container-servicio h3{
        text-align: center;
        font-size: 23px;
    }

    .container-servicio .imagen-servicios img{
        width: 140px;
    }

    .container-servicio p{
        font-size: 17px;
    }
}

@media (max-width:340px){
    .container-servicio .textos-servicios{
        width: 60%;
    }

    .container-servicio .imagen-servicios{
        width: 40%;
    }

    .container-servicio .imagen-servicios img{
        width: 100px;
    }
}