#contacto{
    scroll-margin-top: 80px;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.redes-contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.telefono-contactos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.telefono-contactos .titulo-contactos{
    font-size: 40px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(30px);
    margin-bottom: 20px;
}

.titulo-contactos.animar{
    animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.telefono-contactos a{
    font-size: 25px;
    color: #272727;
    text-decoration: none;
    font-weight: 400;
}

.telefono-contactos a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.redes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h3-contactos{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
}

.red-contactos-2{
    padding: 0;
    margin: 0;
    border-radius: 10px;
    color: #272727;
}

.red-contactos-2:hover{
    color: #E4405F;
}

.red-contactos-3{
    padding: 0;
    margin: 0;
    border-radius: 10px;
    color: #272727;
}

.red-contactos-3:hover{
    color:  #0A66C2;
}

.red-contactos-4{
    padding: 0;
    margin: 0;
    border-radius: 10px;
    color: #272727;
}

.red-contactos-4:hover{
    color: #FF0000;
}

@media (max-width:500px){
    .telefono-contactos .titulo-contactos{
        font-size: 30px;
    }

    .telefono-contactos a{
        font-size: 22px;
    }

    .redes{
        margin-top: 0;
        gap: 20px;
    }

    .red-contactos-2{
        width: 35px;
    }

    .red-contactos-3{
        width: 35px;
    }

    .red-contactos-4{
        width: 40px;
    }
}